*{
    background-image: url(http://incurs.us/sites/default/files/2016-07/github-wallpaper-1.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}